@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  left: 100%;
  transform: translateX(-55%);
}

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 10px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 10px));
  background: var(--swiper-pagination-bullet-inactive-color, #fff);
  box-shadow: inset 0 0 0 0.6px #000;
}

.swiper-pagination-bullet-active {
  background: #7575e2;
  box-shadow: none;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 8px);
}
